.movie-card {
  display: flex;
  width: 22.375rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: var(--color-card-bg);
}

.movie-poster {
  position: relative;
  top: 0;
  width: 22.375rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 0.75rem 0.75rem 0 0;
}

.movie-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.movie-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.genre-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.genre-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.genre-tag {
  display: flex;
  width: auto;
  height: 1.5rem;
  padding: 0.1875rem 0.5615rem 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: var(--color-tag-bg);
}

.movie-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: auto;
  padding: 1rem;
  width: 100%;
}

.link {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

.tmdb-link {
  background-color: var(--color-card-bg);
  color: var(--white);
}

.trailer {
  background-color: var(--color-primary);
  color: var(--white);
}

.trailer:hover {
  background-color: var(--color-primary-hover);
}
