.badge {
    border-radius: 625rem;
    height: 1.45rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.badge-excellent {
    background-color: #009900;
}

.badge-good {
    background-color: #32cd32;
}

.badge-okay {
    background-color: #ffff00;
}

.badge-bad {
    background-color: #ffa500;
}

.badge-terrible {
    background-color: #ff1a1a;
}