.badge {
    border-radius: 625rem;
    height: 1.45rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.badge-excellent {
    background-color: green;
}

.badge-good {
    background-color: limegreen;
}

.badge-okay {
    background-color: yellow;
}

.badge-bad {
    background-color: orange;
}

.badge-terrible {
    background-color: red;
}